<form [formGroup]="searchFilterForm">
  <mat-form-field appearance="fill">
    <mat-label>Manufacturer</mat-label>
    <mat-select formControlName="manufacturer">
      <mat-option value="any">Any</mat-option>
      <mat-option *ngFor="let manufacturer of manufacturers$ | async; trackBy: trackByManufacturer" [value]="manufacturer">{{ manufacturer }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Body Style</mat-label>
    <mat-select formControlName="bodyStyle">
      <mat-option value="any">Any</mat-option>
      <mat-option *ngFor="let bodyStyle of bodyStyles$ | async; trackBy: trackByBodyStyle" [value]="bodyStyle">{{ bodyStyle | titlecase }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price Range (from)</mat-label>
    <mat-select formControlName="priceRangeLow">
      <mat-option *ngFor="let price of priceRangeLowOptions" [value]="price">{{ price | currency : 'ZAR' : 'symbol-narrow' }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price Range (to)</mat-label>
    <mat-select formControlName="priceRangeHigh">
      <mat-option *ngFor="let price of priceRangeHighOptions" [value]="price">{{ price | currency : 'ZAR' : 'symbol-narrow' }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
