.grid {
  height: calc(100% - var(--navbar-height));
  padding: 5px;
  margin: 0 var(--layout-margin-xl);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header header cart"
    "filter list list cart";
  gap: var(--layout-gap);

  &__header {
    grid-area: header;
    padding: var(--layout-padding-lg) 0;
  }

  &__cart {
    grid-area: cart;
    margin-top: var(--layout-margin);
  }

  &__filter {
    grid-area: filter;
    display: flex;
    flex-direction: column;
  }

  &__list {
    grid-area: list;
    overflow-y: auto;
    padding: var(--layout-padding-sm)
  }
}

.vehicle-search-filter {
  flex: 1;
}

.vehicle-list {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-sm);
}
