
<mat-toolbar color="primary">
  <span>Wheel-Deal</span>
</mat-toolbar>

<div class="grid">
  <section class="grid__header">
    <h1>
      Browse Vehicles
    </h1>
  </section>

  <section class="grid__cart">
    <app-cart></app-cart>
  </section>

  <section class="grid__filter">
    <app-vehicle-search-filter class="vehicle-search-filter"></app-vehicle-search-filter>
  </section>

  <section class="grid__list">
    <app-vehicle-list class="vehicle-list"></app-vehicle-list>
  </section>
</div>