<mat-card class="vehicle-card">
  <mat-card-content class="vehicle-card__content">
    <img
      [src]="vehicle.imageUrl"
      alt="Vehicle image"
      class="vehicle-card__image"
    >
    <section class="vehicle-card__info">
      <div>Price: {{ vehicle.price }}</div>
      <div>Make: {{ vehicle.make }}</div>
      <div>Model: {{ vehicle.model }}</div>
      <div style="display: flex; justify-content: space-between;">
        <span>Body: {{ vehicle.body }}</span>
        <button>Add to cart</button>
      </div>
    </section>
  </mat-card-content>
</mat-card>
