<mat-card class="vehicle-card">
  <mat-card-content class="vehicle-card__content">
    <img
      [src]="vehicle.imageUrl"
      alt="Vehicle image"
      class="vehicle-card__image"
    >
    <section class="vehicle-card__info">
      <div>Price: {{ vehicle.price | currency : 'ZAR' : 'symbol-narrow' }}</div>
      <div>Make: {{ vehicle.make }}</div>
      <div>Model: {{ vehicle.model }}</div>
      <div class="vehicle-card__action">
        <span>Body: {{ vehicle.body | titlecase}}</span>
        <button
          mat-raised-button color="primary"
          (click)="addToCart(vehicle)"
          [disabled]="isVehicleInCart$ | async">
          Add to Cart
        </button>
      </div>
    </section>
  </mat-card-content>
</mat-card>
