
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './palettes';

$wheel-deal-primary: mat.define-palette(palettes.$m2-primary, 500);
$wheel-deal-accent: mat.define-palette(palettes.$m2-accent, A200, A100, A400);
$wheel-deal-warn: mat.define-palette(palettes.$m2-error);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$wheel-deal-theme: mat.define-light-theme((
  (
    color: (
      primary: $wheel-deal-primary,
      accent: $wheel-deal-accent,
      warn: $wheel-deal-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
));

$wheel-deal-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $wheel-deal-primary,
      accent: $wheel-deal-accent,
      warn: $wheel-deal-warn,
    ),
  )
);

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($wheel-deal-theme);

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dark {
  @include mat.all-component-colors($wheel-deal-dark-theme);
}


:root {
  --navbar-height: 64px;
  --layout-margin-sm: 1rem;
  --layout-margin: 2rem;
  --layout-margin-lg: 4rem;
  --layout-margin-xl: 6rem;
  --layout-padding-sm: 0.5rem;
  --layout-padding: 1rem;
  --layout-padding-lg: 2rem;
  --layout-padding-xl: 4rem;
  --layout-gap-sm: 0.5rem;
  --layout-gap: 1.5rem;

  * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}